numpy==1.26.4
pandas==2.3.2
Pillow==11.1.0
torch==2.8.0+cu129
torchvision==0.23.0+cu129
transformers==4.51.3
huggingface-hub==0.34.4
tokenizers==0.21.0
safetensors==0.5.3
scikit-learn==1.6.1
matplotlib==3.9.2
seaborn==0.13.2
statsmodels==0.14.5
tqdm==4.67.1
